In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing
import sklearn.metrics as sm

In [2]:
data = pd.read_csv(r'//Users//amrithasubburayan//Downloads//casestudy.csv')

In [3]:
data

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 4 columns]

In [ ]:
#•Total revenue for the current year

In [4]:
data['net_revenue'].sum(axis = 0)

86185187.80999999

In [5]:
data.columns

Index(['Unnamed: 0', 'customer_email', 'net_revenue', 'year'], dtype='object')

In [8]:
data['year'].value_counts()

2017    249987
2015    231294
2016    204646
Name: year, dtype: int64

In [10]:
data

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 4 columns]

In [ ]:
#•	Existing Customer Revenue Current Year

In [36]:
d1 = data.loc[data['year'] == 2017, 'net_revenue'].sum()

31417495.030000016

In [ ]:
#	Existing Customer Revenue Prior Year

In [37]:
d2 = data.loc[data['year'] == 2016, 'net_revenue'].sum()

25730943.59

In [26]:
d3 = data.loc[data['year'] == 2015, 'net_revenue'].sum()

In [ ]:
#•	Existing Customer Growth

In [41]:
sum1 = d1 - d2

In [42]:
sum1

57148438.62000002

In [ ]:
#•	Total Customers Current Year

In [ ]:
data.loc[data['year'] == 2017, 'customer_email'].nunique()

In [ ]:
#•	Total Customers Previous Year

In [38]:
data.loc[data['year'] == 2016, 'customer_email'].nunique()

204646

In [33]:
d1

31417495.030000016

In [40]:
data['customer_email'].nunique()

604618